<wddxPacket version='1.0'>
	<!-- 
		File: settings.xml
		Author: Brian J. Meloche
		Description:  This is a WDDX file, which allows you to configure multiple user groups from a single CHUG codebase.
		
		Date: 11/23/2007
		Usage:
			hosts - List all of your domains here, and tie them to an application name.  You have to define both the domain and the www.
			applications - This will determine your application names and the correct config file to use.
			
		History:
			9/18/2007 - v0.5 - Initial creation.
			11/23/2007 - v1.0 - Committing to the release.
	-->
	<header>
	</header>
	<data>
		<struct>
			<!-- sites -->
			<var name="sites">
				<struct>
					<!-- hosts -->
					<var name="hosts">
						<struct>
							<var name="default">
								<string>chug</string>
							</var>
							<!-- If you only have one user group to manage, stop here. -->
							<var name="www.clevelandaug.org">
								<string>clevelandaug</string>
							</var>
							<var name="clevelandaug.org">
								<string>clevelandaug</string>
							</var>
							<var name="www.clevelandaug.com">
								<string>clevelandaug</string>
							</var>
							<var name="clevelandaug.com">
								<string>clevelandaug</string>
							</var>
							<var name="www.clevelandmmug.org">
								<string>clevelandaug</string>
							</var>
							<var name="clevelandmmug.org">
								<string>clevelandaug</string>
							</var>
							<var name="www.clevelandcfug.net">
								<string>clevelandcfug</string>
							</var>
							<var name="clevelandcfug.net">
								<string>clevelandcfug</string>
							</var>
						</struct>
					</var>
					<!-- site -->
					<var name="applications">
						<struct>
							<var name="chug">
								<string>./config/mach-ii.xml.cfm</string>
							</var>
							<!-- If you only have one user group to manage, stop here. -->
							<var name="clevelandaug">
								<string>./config/clevelandaug.xml.cfm</string>
							</var>
							<var name="clevelandcfug">
								<string>./config/clevelandcfug.xml.cfm</string>
							</var>
						</struct>
					</var>
				</struct>
			</var>
		</struct>
	</data>
</wddxPacket>